mixin ip-market-header
	.ip-market__header&attributes(attributes)
		p.font--lg.font--white Favourite
		ul.ip-market__wrap
			li.font--m-white.ip-market__link.ip-market__link--active All events
			li.font--m-white.ip-market__link Live Streaming
		ul.ip-market__wrap
			li.font--m-white.ip-market__link.ip-market__link--active All Markets
			li.font--m-white.ip-market__link.link-dropdown Main Markets
				.dropdown
					ul.dropdown__wrap.scroll
						li.dropdown__item
							a.font.font--m-white.dropdown__link.dropdown__link--active Main Markets
						li.dropdown__item
							a.font.font--m-white.dropdown__link 1st half Asians
						li.dropdown__item
							a.font.font--m-white.dropdown__link Full Time Asians

mixin ip-market-alert
	.ip-market__alert&attributes(attributes)
		.text-center
			p.font--white.font--lg Add your favourite events and competitions.
			p.font--white Click on a star for the item to appear here.

mixin ip-market-league(val)
	.ip-market__league&attributes(attributes)
		.ip-market__left
			img(src="../img/icon-country/gb.png", alt="").ip-market__flag
			p.text-ellipsis.font--white England National League
		.ip-market__center
			if (val)
				- var a = 0;
				while a < val
					.ip-market__label
						p.font--white= a+++"X"
		.ip-market__right
			a.fal.fa-star.ip-market__icon
				
mixin ip-market-league-2
	.ip-market__league&attributes(attributes)
		.ip-market__left
			p.text-ellipsis.font--white England National League
		.ip-market__head
			a.ip-market__head-link.ip-market__head-link--active Slider
			a.ip-market__head-link All
		.ip-market__favourite
		.ip-market__drop

mixin ip-market-league-3
	.ip-market__league&attributes(attributes)
		.ip-market__left
			p.text-ellipsis.font--white England National League
		.ip-market__drop

mixin ip-market-league-4
	.ip-market__league&attributes(attributes)
		.ip-market__left
			p.text-ellipsis.font--white League Table
		.ip-market__update
			p.font--white Updated base on live scores

mixin ip-market-league-5
	.ip-market__league&attributes(attributes)
		.ip-market__left.w-auto
			p.font--white.text-nowrap Full Time Results
		.link-dropdown
			span Change Market
			.dropdown
				ul.dropdown__wrap.scroll
					li.dropdown__item
						.dropdown__link.dropdown__link--active Full Time Results
					li.dropdown__item
						.dropdown__link Double Chance
					li.dropdown__item
						.dropdown__link Asian Corners

mixin ip-market-league-6
	.ip-market__league&attributes(attributes)
		.ip-market__left
			p.font--white BetBuilder
		.ip-market__clear Clear

mixin ip-market-subheader(val, number)
	.ip-market__subheader&attributes(attributes)
		- var a = 0;
		while a < number
			.ip-market__label(data=a++)
				- var n = 0;
				while n < val
					p.ip-market__text= n++

mixin ip-market-subheader-v2(val, number)
	.ip-market__subheader&attributes(attributes)
		- var a = 0;
		while a < number
			.ip-market__label(data=a++).ip-market__label--left
				- var n = 0;
				while n < val
					p.ip-market__text= n++

mixin ip-market-subheader-v3
	.ip-market__subheader&attributes(attributes)
		p.ip-market__text Liverpool vs Man Utd
		i.fal.fa-volume-up.ip-market__volume

mixin ip-market-subheader-v4
	.ip-market__subheader&attributes(attributes)
		p.ip-market__text Liverpool vs Man Utd
		.s-icon.s-icon--play-v2.sort-icon.ip-market__play

mixin ip-market-body-big(val, top, number, only, tennis, disabled, radio)
	.ip-market__body&attributes(attributes)
		.ip-market__table
			if (only!=false)
				.ip-market__left
					.ip-market__time.text-center
						p 105:31
						p.font--fifth 2 nd
					.ip-market__info
						p.team-name.team-name--home.text-ellipsis Everton 
						p.team-name.team-name--away.text-ellipsis Man City
						p.team-name.text-ellipsis Draw
					.ip-market__score
						if (tennis)
							.tennis-ss
								.tennis-ss__column
									p.font--bold.font--fifth 7
									p.font--bold.font--fifth 5
								.tennis-ss__column
									p.font--bold.font--fifth 7
									p.font--bold.font--fifth 5
								.tennis-ss__column
									p.font--bold.font--fifth 7
									p.font--bold.font--fifth 5
								.tennis-ss__column
									p.font--bold 0
									p.font--bold 15
						else
							p.font--bold.font--fifth.team-score.text-right 1
							p.font--bold.font--fifth.team-score.text-right 1

					.ip-market__option
						.s-icon.s-icon--play
						.s-icon.s-icon--field

			.ip-market__center
				if (top)
					.ip-market__block
						.link-dropdown Main Markets
							.dropdown
								ul.dropdown__wrap.scroll
									li.dropdown__item
										a.dropdown__link.dropdown__link--active Main Markets
									li.dropdown__item
										a.dropdown__link 1st half Asians
									li.dropdown__item
										a.dropdown__link Full Time Asians
				.ip-market__row
					if(disabled)
						.ip-market__label
							- var n = 0;
								while n < val
									+button-coff(n++).ip-market__btn.ip-market__btn--disabled
					- var a = 0;
						while a < number
							.ip-market__label(data=a++)
								- var n = 0;
								if(!radio)
									while n < val
										+button-coff(n++).ip-market__btn
								else
									while n < val
										.btn.ip-market__btn.ip-market__btn--small.ip-market__btn--left.ip-market__btn--b-none
											input(type="checkbox", data=n++).checkbox
											a.text-ellipsis.ip-market__coupon-link England Premiere League
			
			if (only!=false)
				.ip-market__right
					a.fal.fa-star.ip-market__icon
					a.ip-market__more
						span 152
						i.fal.fa-angle-right.ip-competition__icon

mixin ip-market-body-range
	.ip-market__body&attributes(attributes)
		.ip-market__group
			.wrap
				p Birmingham
				.rangeWrapper
					input(type="range").range.range--big
					.rangeScale.flex.align-middle.align-justify
						span.rangeScale__item 1
						span.rangeScale__item 2
						span.rangeScale__item 3
			.wrap
				p Birmingham
				.rangeWrapper
					input(type="range").range.range--big
					.rangeScale.flex.align-middle.align-justify
						span.rangeScale__item 1
						span.rangeScale__item 2
						span.rangeScale__item 3

			.wrap.wrap--last
				+button-coff("123")

mixin ip-market-body-range-v2
	.ip-market__body&attributes(attributes)
		.ip-market__group
			.wrap
				p Birmingham
				+mcs-selector
			.wrap
				p Birmingham
				+mcs-selector

			.wrap.wrap--last
				+button-coff("123")